
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Manrope:wght@500&display=swap');

.noto{font-family: 'Noto Sans', sans-serif;}
.custom-font, .nav-link {font-family: 'Manrope', sans-serif;}

body{
  background-color: #eaeaf4;
}

.custom-blue-bg{
  background-color: #0014a8;
}

/* .nav-item:hover{
  background-color: rgb(0, 118, 26);
} */                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
 
