
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Manrope:wght@500&display=swap');


.noto, .nav-link{font-family: 'Noto Sans', sans-serif;}
.custom-font {font-family: 'Manrope', sans-serif;}

body{
    background-color: #eaeaf4;
}

.custom-blue-bg{
    background-color: #0023d4;
}

/* thead {
    background-color: #255cb4 !important;
} */