
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Manrope:wght@500&display=swap');
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';


.noto{font-family: 'Noto Sans', sans-serif;}
.custom-font, .nav-link {font-family: 'Manrope', sans-serif;}

body{
  background-color: #eaeaf4;
}

.custom-blue-bg{
  background-color: #014878;
}

.other-blue-bg{
  background-color: rgb(43, 43, 43)
}

.custom-green-bg{
  background-color: rgb(20, 94, 24);
}
.custom-yellow-text{
  color: rgb(255, 208, 0);
}

/* .nav-item:hover{
  background-color: rgb(0, 118, 26);
} */                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
.other-custom-blue-bg{
  background-color: #394c6b !important;
} 

@media screen and (max-width: 576px) {
  #googleSearchBtn{
    width: 75%;
  }
}
